* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
}

.container-fluid {
  color: #212529;
  padding: 0;
  margin: 0;
  /* height: 100%; */
}

.side-bar {
  position: fixed;
  height: 100vh;
  width: 259px;
  padding: 30px 10px;
}

.logo {
  width: 100%;
  margin-top: 1rem;
  padding: 0 1rem;
}

.nav-menu,
li,
i {
  background: none;
}

.nav-menu {
  list-style-type: none;
  background: inherit;
  background: none;
  padding: 0;
}

.nav-menu li {
  background: none;
  padding: 1rem 1rem;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.nav-menu li:hover{
  background: linear-gradient(95.81deg, #4cb8ff 2.29%, #4685ff 61.39%);
  border-radius: 0.7rem;
}

.nav-menu li i {
  background: none;
  color: #fff;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 30px;
  width: 100px;
}

.link{
  background: none;
  color: #fff;
}

.link:hover{
  color: #fff;
  
}